.bread-crumbs-box {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 45px;
}

.bread-crumbs-box>span>a {
  display: inline-block;
  font-family: var(--GeisR);
  font-size: 16px;
  color: var(--color-text);
}

.bread-crumbs-box>span {
  display: inline-block;
  font-family: var(--GeisR);
  font-size: 16px;
  color: var(--color-text);
}

.bread-crumbs-box>span:last-child {
  color: var(--color-title);
}