.header {
  margin-top: 20px;
  margin-bottom: 25px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  z-index: 5;
}

/* .logo {
  width: 105px;
  height: 44px;
} */

.logo-link {
  font-family: var(--lighthaus);
  font-size: 20px;
  color: var(--color-title);
  letter-spacing: 4px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.menu__item-link {
  display: inline-block;
  font-family: var(--GeisR);
  font-size: 18px;
  color: var(--color-title);
  transition: 0.3s ease;
  padding-block: 15px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

/* .menu__item-link::after {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 5px;
  height: 5px;
  background-color: var(--color-title);
  border-radius: 50px;
  transform: translate(0, -50%);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
} */
.dot-menu {
  display: none;
  width: 5px;
  height: 5px;
  background-color: var(--color-title);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-right: 10px;
}


.active.menu {
  left: 0;
}

.menu__item {
  width: 100%;
  border-top: 1px solid var(--color-title);
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid var(--color-title);// */
}

.menu__item:last-child {
  border-bottom: 1px solid var(--color-title);
}

.header__contact-box {
  display: none;
}

/* bottom */
.header__bottom {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}

.header-bottom__btn-box {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.header__contact-soc {
  display: flex;
  align-items: center;
  gap: 20px;
}

.svg-box {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hover-color);
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.svg-box>svg {
  fill: var(--color-title);
}

@media(max-width:1022px) {
  .menu {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding: 0 15px;
    background-color: rgba(237, 231, 224, 0.4);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    left: -100%;
    top: 0;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    overflow: scroll;
    z-index: 2;
  }

  .menu__list {
    width: 100%;
    position: relative;
    top: 93px;
  }


}




@media (min-width:1020px) {
  .header {
    margin-top: 30px;
  }

  .menu__item-home {
    display: none;
  }

  .header__top {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    align-items: center;
    height: 100%;

  }

  .menu__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .header__contact-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .header__contact {
    display: flex;
    gap: 15px;
  }

  .menu__item {
    width: auto;
    border: none;
  }

  .menu__item:last-child {
    border-bottom: none;
  }

  .menu__item-link {
    display: inline-block;
    font-family: var(--GeisR);
    font-size: 18px;
    line-height: 100%;
    color: rgba(51, 51, 51, 1);
    transition: 0.3s ease;
    padding-block: 0;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
  }

  .header__bottom {
    display: flex;
  }

  /* 
  .menu__item-link {
    margin-left: 15px;
  }

  .menu__item-link:first-of-type::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    width: 5px;
    height: 5px;
    background-color: var(--color-title);
    border-radius: 50px;
    transform: translate(0, -50%);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
  } */
  .dot-menu {
    display: block;
    /*display: none;
    */
    width: 5px;
    height: 5px;
    background-color: var(--color-title);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
  }

  .menu__item.is-active .dot-menu {
    display: inline-block;
  }
}


@media (min-width:1200px) {
  .header {
    margin-bottom: 60px;
  }

  /* .logo {
    width: 200px;
    height: 85px;
  } */
  .logo-link {
    font-family: var(--lighthaus);
    font-size: 30px;
    color: var(--color-title);
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .header__contact-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 17px;
  }

}


@media(hover:hover) {

  .menu__item:hover .dot-menu {
    background-color: var(--hover-color);
  }

  .menu__item-link:hover {
    color: var(--hover-color);
  }

  .header__contact-link:hover {
    color: var(--hover-color);

  }

  .header-bottom__btn-box:hover.svg-box {
    background-color: var(--hover-color);
  }
}